.jumbotron
{
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-color: #660099;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

 .applicant .jumbotron, .recruiter .jumbotron, .match_percentage .jumbotron
 {
 	margin-bottom: 0px;
    background-position: 0% 25%;
    background-color: #660099;
    height: 27%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
 }
 hr
 {
   border-top: 2px solid #663399 !important;
      margin-bottom:5px !important;
      margin-top:5px !important;
 }
