.jumbotron 
{
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-color: #660099;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

 .applicant .jumbotron, .recruiter .jumbotron
 {
 	margin-bottom: 0px;
    background-position: 0% 25%;
    background-color: #660099;
    height: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
 } 
 input
 {
 	
 }  

