<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  	<servlet-name>Wololo</servlet-name>
  	<servlet-class>main.ResumeParser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Wololo</servlet-name>
  	<url-pattern>/lel</url-pattern>
  </servlet-mapping>
  <display-name>ResumeParser</display-name>
  <welcome-file-list>
    <welcome-file>main_pg.html</welcome-file>
    <welcome-file>main_pg.htm</welcome-file>
    <welcome-file>main_pg.jsp</welcome-file>
    <welcome-file>main_pg.html</welcome-file>
    <welcome-file>main_pg.htm</welcome-file>
    <welcome-file>main_pg.jsp</welcome-file>
  </welcome-file-list>
 <!--  <servlet>  
        <servlet-name>applicant</servlet-name> 
        <jsp-file>services.jsp</jsp-file>
    </servlet> --> 
</web-app>